/client/prj_win32
/client_service/prj_win32
/client_service/win32_release
/doc
/serverV4
/VS2010Test
/VS2019Test
/test.txt
clientQTtest/build-clientQTtest-Desktop_Qt_5_5_1_MSVC2010_32bit-Debug
clientQTtest/clientQTtest.pro.user
server/prj_win32