/client/prj_win32
/client/win32_release
/client/client.suo
/clientQT/client/client.pro.user
server/prj_win32
server/win32_release
QT_Test/Makefile
QT_Test/Makefile.Debug
QT_Test/Makefile.Release
QT_Test/QT_Test.pro.user
QT_Test/vc100.pdb
VS2019Test/.vs/
VS2019Test/Debug/
VS2019Test/VS2019Test.sln
VS2019Test/VS2019Test.vcxproj
VS2019Test/VS2019Test.vcxproj.filters
VS2019Test/VS2019Test.vcxproj.user
VS2019OSP3/.vs/
VS2019OSP3/VS2019OSP3.sln
VS2019OSP3/VS2019OSP3.vcxproj
VS2019OSP3/VS2019OSP3.vcxproj.filters
VS2019OSP3/VS2019OSP3.vcxproj.user
clientV4/win32/
clientV4/client.suo
serverV4/win32
serverV4/serverV4.suo
client_service/client_service.suo
client/win32/
client_service/prj_win32/
client_service/win32/
server/serverV4.suo
server/linux/
server/win32/